* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  font-family: "Raleway", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 0.75fr 4fr;
  grid-template-rows: 1fr 3fr;
}

/* div {
  border: 1px solid black;
} */

/* Sidebar */
.sidebar {
  display: grid;
  grid-row: 1 / 3;
  grid-template-rows: 1fr 3fr 3fr;
  background-color: #232946;
  padding-left: 1rem;
  padding-right: 1.5rem;
}

.sidelogo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#dashhead {
  font-size: 2em;
  color: #fffffe;
}

.sidelogo svg {
  width: 2em;
  height: 2em;
  color: #fffffe;
}

.sidenav {
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 4rem;
  justify-content: flex-start;
  list-style: none;
  color: #fffffe;
}

.sidenav li,
.sidebrand li {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.sidenav svg,
.sidebrand svg {
  width: 1.5rem;
  height: 1.5rem;
}

.sidebrand {
  gap: 1rem;
  margin-top: 1rem;
  justify-content: flex-start;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  color: #fffffe;
  list-style: none;
}

/* Header */
.header {
  color: #121629;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  background-color: #fffffe;
}

.searchbar {
  font-size: 2em;
  grid-column: 1/3;
  display: flex;
  gap: 1rem;
  align-items: center;
  margin: 0rem 10rem 0rem 1rem;
}

.searchbar svg {
  width: 2rem;
  height: 2rem;
}

#search {
  font-size: 2rem;
  padding: 0.25rem;
  border-radius: 5px;
  flex: 1;
  border: 1px solid #121629;
}

#search:focus {
  background-color: #e0e0e0;
  border: 1px solid #121629;
}

.userbtns {
  grid-column: 2/4;
}

.useralert {
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  margin-right: 1rem;
}

.useralert svg {
  width: 1.5em;
  height: 1.5em;
}

.profilepicture {
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  overflow: hidden;
  object-fit: contain;
}

.userinfo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  margin-left: 1rem;
}

.profilepictureinfo {
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  overflow: hidden;
  object-fit: contain;
}

.usertxt {
  font-size: 1.5em;
}

.userbtns {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
  margin-right: 1rem;
}

.userbtns button {
  font-size: 1.5rem;
  padding: 0.7rem;
  background-color: #eebbc3;
  color: #232946;
  border-radius: 5px;
}

/* Content Container */
.contentcontainer {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 2fr 2fr;
  background-color: #b8c1ec;
}

.projects {
  grid-row: 1/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.projects,
.annoucements,
.trending {
  margin: 1rem;
}

.contentheading {
  font-size: 1.5rem;
}

.contentcard {
  background-color: #fffffe;
  height: 10rem;
  width: 30rem;
}

/* 1200px Breakpoint */

@media screen and (max-width: 1200px) {
}
